// Microsoft Visual C++ generated resource script.
//

#include "resource.h"
#include "TreeListwnd.h"

#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// German (Germany) resources

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,4,0,0
 PRODUCTVERSION 2,4,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040704b0"
        BEGIN
            VALUE "CompanyName", "seki.fr"
            VALUE "FileDescription", "TreeList simple test"
            VALUE "FileVersion", "2, 4, 0, 0"
            VALUE "InternalName", TVC_CLASSNAME
            VALUE "LegalCopyright", "Copyright (C) 2014"
            VALUE "OriginalFilename", "simple.exe"
            VALUE "ProductName", "TreeList"
            VALUE "ProductVersion", "2, 4, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x407, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINFRAME           ICON                    "res\\TreeList.ico"


